@import "@extension/ui/lib/global.css";

:host {
    transition-behavior: allow-discrete;
    @apply transition-[display,opacity,scale] origin-top;
    /* https://www.easing.dev/slow */
    transition-duration: 449.28ms;
    transition-timing-function: linear(0 0%,
            0.006234 1%,
            0.023295 2%,
            0.04897 3%,
            0.081353 4%,
            0.118809 5%,
            0.159948 6%,
            0.20359 7.000000000000001%,
            0.248745 8%,
            0.294589 9%,
            0.34044 10%,
            0.385746 11%,
            0.43006 12%,
            0.473032 13%,
            0.514392 14.000000000000002%,
            0.553942 15%,
            0.591539 16%,
            0.627092 17%,
            0.660552 18%,
            0.691902 19%,
            0.721157 20%,
            0.748351 21%,
            0.773538 22%,
            0.796788 23%,
            0.818178 24%,
            0.837796 25%,
            0.855733 26%,
            0.872085 27%,
            0.886949 28.000000000000004%,
            0.90042 28.999999999999996%,
            0.912596 30%,
            0.923568 31%,
            0.933428 32%,
            0.942263 33%,
            0.950157 34%,
            0.957188 35%,
            0.963433 36%,
            0.968961 37%,
            0.973838 38%,
            0.978127 39%,
            0.981885 40%,
            0.985164 41%,
            0.988015 42%,
            0.990482 43%,
            0.992606 44%,
            0.994426 45%,
            0.995975 46%,
            0.997286 47%,
            0.998387 48%,
            0.999303 49%,
            1.000058 50%);
}